---
layout: default
---

<article>
  {% include meta.html post=page %}
  {{ content }}

<!-- BEGIN: added to theme by ae1020 -->
<hr style="margin-top: 2em; margin-bottom: 1.5em; border: none; border-top: 1px solid #ccc;">

<div style="margin-bottom: 2em; color: #444; font-weight: bold;">
  <p>If you have an idea for improving this article, <a href="https://github.com/AE1020/AE1020.github.io/issues">please submit it as an issue on GitHub</a> (or even better as a pull request)!</p>
</div>
<!-- END: added to theme by ae1020 -->

  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>

{% if site.show_related %}
  <footer class="related">
    <div class="previous">{% if page.previous.url %}<span>Previous Post</span><a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }}</a>{% endif %}</div>
    <div class="next">{% if page.next.url %}<span>Next Post</span><a href="{{ page.next.url | relative_url }}">{{ page.next.title }}</a>{% endif %}</div>
  </footer>
{% endif %}
